/* 
	
	General theme layout

*/

.site-content {
//    margin-left: 240px;
    max-width: 1020px;
	margin: auto;
	padding: 180px 20px 80px 20px;
}

.content-area {
	width: 75%;
	float: right;
}

.widget-area {
	width: 25%;
	
	aside {
		padding-right: 40px;
		text-align: right;
	}
}

footer {
	clear: both;
	padding: 100px;
}