/* 
	
	General theme layout

*/

.site-content {
//    margin-left: 240px;
    max-width: 1020px;
	margin: auto;
	padding: 140px 20px 80px 20px;
	overflow: auto;
}

.content-area {
	width: 75%;
	float: right;
}

.widget-area {
	width: 25%;
}

