/* 

	Theme settings

*/

/* typography */

	$base-font: 'Open Sans', sans-serif;
	$header-font: 'Lato', serif;

/* Supported Values for $layout:
  null | content-sidebar | content-sidebar-sidebar | sidebar-content | sidebar-content-sidebar | sidebar-sidebar-content
*/
	$layout: sidebar-content;
	$vspacing: 1.5em;

/* reusable colours */

	$blue: #1094C7;
	$green: #5C8516; 
	$orange: #E97E0D;
	$gray: #ACBBC0;
	$black: #333;