/* Schmopera theme specific */


/* Colour variables */


/* global */




.main-navigation {
    display: none;
}

.post-navigation {
    margin: 0 0 4em 0 !important;

    &:before {
        content: "More articles";
        display: block;
        color: $gray;
        font-size: 1.3em;
        margin: 1em 0;
    }
    
    .nav-previous,
    .nav-next {
        width: 49% !important;
    }
    
    a {
        display: block;
        background: $blue;
        color: #fff;
        padding: 1em 1em 1em 2.5em;
        text-decoration: none;
        font-size: 1.2em;
        font-style: normal;
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        position: relative;
        
        &:before {
            content: "←";
            position: absolute;
            left: 1em;
        }
        
        &:hover {
            background: $black;
        }
    }
    
    .nav-next a {
        text-align: left;
        padding: 1em 2.5em 1em 1em;
        
        &:before {
            content: "→";
            left: auto;
            right: 1em;
        }
    }
}

footer.entry-meta {
    display: none;
}